# Para todos os arquivos e sub-pastas localizados na pasta vendor/
vendor/
# Para arquivos Java compilados
*.class
# Para todos os arquivos e sub-pastas localizados na pasta bower_components/
bower_components/
# Para todos os arquivos e sub-pastas localizados na pasta node_modules/
node_modules/
# Para todos os arquivos e sub-pastas localizados na pasta .vscode/
.vscode/
# Para todos os arquivos e sub-pastas localizados na pasta dist/
dist/
# Para todos os arquivos e sub-pastas localizados na pasta .tmp/
.tmp/