<div class="jumbotron">
    <h1 class="text-center">
        Bem-vindo ao Contatooh
    </h1>
</div>

<p ng-show="mensagem.texto">{{mensagem.texto}}</p>

<button class="btn btn-primary" ng-click="incrementa()">
    Novo
</button>
<input ng-model="filtro" type="search" placeholder="parte do nome">

<p class="text-info" ng-show="contatos.length">Contatos cadastrados: {{contatos.length}}</p>
<p class="text-info" ng-hide="contatos.length">Não há contatos cadasrtados</p>

<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>NOME</th>
            <th>E-MAIL</th>
            <th class="text-center">AÇÃO</th>
        </tr>
        <tr ng-repeat="contato in contatos | filter: filtro">
            <td>
                <a>{{contato.nome}}</a>
            </td>
            <td>{{contato.email}}</td>
            <td class="text-center">
                <button ng-click="remove(contato)" class="btn btn-warning">
                    Remover
                </button>
            </td>
        </tr>
    </table>
</div>